name=Boss DR-110
author=JH
# track<n>=<name>|mix|pan|<sample>
# track1 is first track
track1=Kick|200|128|DR110KIK.WAV
track2=Snare|200|128|DR110SNR.WAV
track3=CHH|150|128|DR110CHT.WAV
track4=OHH|200|128|DR110OHT.WAV
track5=Clap|200|128|DR110CLP.WAV
track8=Cymbal|200|128|DR110CYM.WAV

