name=Techno 808
author=JH

# track<n>=<name>|mix|pan|<sample>

# track1 is first track

track1=Kick|200|128|808 BD 2.wav

track2=Snare|200|128|808 SD 1.wav

track3=CHH|150|128|808 CHH.wav

track4=OHH|200|128|808 OHH.wav

track5=Clap|200|128|808 Clap.wav

track6=Tom|200|128|808 Mid Tom 1.wav

track7=Cowbell|200|128|808 Cowbell.wav

track8=Tambourine|200|128|78 Tambourine.wav

